// header
header.header-main
	.header-top
		.container
			.menu-wrap-icon-mobile.menu-icon-mobile-js
				.menu-icon-mobile

			ul.menu-company
				li 
					a(href="#") О компании 
				li 
					a(href="#") Доставка и оплата 
				li 
					a(href="#") Гарантия и возврат 
				li 
					a(href="#") Что с моим заказом? 
				li 
					a(href="#") Контакты
			ul.menu-navigation
				li
					a(href="#")
						+icon("Scales")
						span.text Сравнение
				li
					a(href="#") 
						+icon("Love")
						span.text Закладки
				li
					a(href="#") 
						+icon("Man")
						span.text Личный кабинет



	.header-center
		.container
			a(href="#" title="На главную").logo
				img(src="static/images/general/logo.png", alt="Логотип Favorit 3D")
			.socials
				a(href="https://wa.me/79081361978" target="_blank" title="Связаться по 'whatsapp'").socialHref
					img(src="static/images/general/iconWhatsap.png", alt="Иконка")
				a(href="https://3d-favorit.ru/image/catalog/revolution/other/vk.png" target="_blank" title="Перейти на страницу 'В контакте'").socialHref
					img(src="static/images/general/iconVK.png", alt="Иконка")
				a(href="https://www.instagram.com/favorit3d/" target="_blank" title="Перейти на страницу 'Инстаграмм'").socialHref
					img(src="static/images/general/iconInsta.png", alt="Иконка")
				a(href="https://www.youtube.com/channel/UCovsd7mCCbHUKQLHATxvc7A" target="_blank" title="Перейти на канал 'YouTybe'").socialHref
					img(src="static/images/general/iconYouTybe.png", alt="Иконка")
			.contacts-email
				a(href="mailto:Info@3d-favorit.ru" title="Написать письмо").email-href
					+icon("Mail")
					| Info@3d-favorit.ru
			.contacts-telephone
				a(href="tel:+74732959349" title="Связаться по телефону").phone-href
					+icon("Phone")
					| 7 (473) 295-93-49
				a(href="tel:+79009597796" title="Связаться по телефону").phone-href
					| 7 (900) 959-77-96
			.wrap-buttons
				a(href="#").button.button-call Заказать звонок
				a(href="#").button.button-basket
					+icon("Basket")
					| Корзина (
					span 24
					|)



	nav.header-bottom
		.container
			a(href="#" title="На главную").logo
				img(src="static/images/general/logoMin.png", alt="Логотип Favorit 3D")
			ul.menu-catalog
				li.menu-catalog__item.menu-catalog__item-children.menu-catalog__item-js 
					a(href="#") 3D принтеры
					ul.menu-catalog__sub-menu
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconPerson.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Персональные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconProfy.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Профессиональные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconProm.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Промышленные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconDop.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Дополнительное оборудование
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconZap.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Запчасти
				li.menu-catalog__item.menu-catalog__item-children.menu-catalog__item-js 
					a(href="#") Сканеры
					ul.menu-catalog__sub-menu
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconPerson.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Персональные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconProfy.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Профессиональные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconProm.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Промышленные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconDop.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Дополнительное оборудование
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconZap.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Запчасти
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconPerson.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Персональные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconProfy.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Профессиональные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconProm.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Промышленные
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconDop.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Дополнительное оборудование
						li
							a(href="#").menu-catalog__sub-menu-href
								.menu-catalog__sub-menu-icon
									img(src="static/images/general/iconZap.png", alt="иконка пункта подменю")
								span.menu-catalog__sub-menu-text Запчасти

				li.menu-catalog__item.menu-catalog__item-js 
					a(href="#") Материалы
				li.menu-catalog__item.menu-catalog__item-js 
					a(href="#") Стоматологам
				li.menu-catalog__item.menu-catalog__item-js 
					a(href="#") ПО
				li.menu-catalog__item.menu-catalog__item-js 
					a(href="#") Акции
				li.menu-catalog__item.menu-catalog__item-js 
					a(href="#") Услуги 3D печати
				li.menu-catalog__item.menu-catalog__item-js 
					a(href="#") Станки

			.header-search
				input(type="text" placeholder="Поиск").search-input
				.header-search__icon
			a(href="tel:+74732959349" title="Связаться по телефону").phone-href 7 (473) 295-93-49



	.header-mobile
		.menu-wrap-icon-mobile.menu-icon-mobile-js
			.menu-icon-mobile
		a(href="tel:+74732959349" title="Связаться по телефону")
			+icon("Phone")
		.wrap-logo-mobile
			img(src="static/images/general/logo.png", alt="Логотип Favorit 3D")
		a(href="#")
			+icon("Man")
		a(href="#")
			+icon("Basket")

	// .active
	.header-popup.header-popup-js
		.container
			.menu-wrap-icon-mobile.menu-icon-mobile-js
				.menu-icon-mobile.menu-icon-mobile-close
			.header-search
				input(type="text" placeholder="Поиск").search-input
				.header-search__icon
			ul.menu-catalog
				li.menu-catalog__item.menu-catalog__item-children.menu-catalog__item-js 
					span 3D принтеры
					ul.menu-catalog__sub-menu.menu-catalog__sub-menu-js
						li
							a(href="#").menu-catalog__sub-menu-href Персональные
						li
							a(href="#").menu-catalog__sub-menu-href Профессиональные
						li
							a(href="#").menu-catalog__sub-menu-href Промышленные
						li
							a(href="#").menu-catalog__sub-menu-href Дополнительное оборудование
						li
							a(href="#").menu-catalog__sub-menu-href Запчасти
				li.menu-catalog__item.menu-catalog__item-children.menu-catalog__item-js 
					span Сканеры
					ul.menu-catalog__sub-menu.menu-catalog__sub-menu-js
						li
							a(href="#").menu-catalog__sub-menu-href Персональные
						li
							a(href="#").menu-catalog__sub-menu-href Профессиональные
						li
							a(href="#").menu-catalog__sub-menu-href Промышленные
						li
							a(href="#").menu-catalog__sub-menu-href Дополнительное оборудование
						li
							a(href="#").menu-catalog__sub-menu-href Запчасти
						li
							a(href="#").menu-catalog__sub-menu-href Персональные
						li
							a(href="#").menu-catalog__sub-menu-href Профессиональные
						li
							a(href="#").menu-catalog__sub-menu-href Промышленные
						li
							a(href="#").menu-catalog__sub-menu-href Дополнительное оборудование
						li
							a(href="#").menu-catalog__sub-menu-href Запчасти
				li.menu-catalog__item.menu-catalog__item-js 
					span Материалы
				li.menu-catalog__item.menu-catalog__item-js 
					span Стоматологам
				li.menu-catalog__item.menu-catalog__item-js 
					span ПО
				li.menu-catalog__item.menu-catalog__item-js 
					span Акции
				li.menu-catalog__item.menu-catalog__item-js 
					span Услуги 3D печати
				li.menu-catalog__item.menu-catalog__item-js 
					span Станки
			ul.menu-company
				li.menu-company__item
					a.menu-company__href(href="#") О компании 
				li.menu-company__item 
					a.menu-company__href(href="#") Доставка и оплата 
				li.menu-company__item 
					a.menu-company__href(href="#") Гарантия и возврат 
				li.menu-company__item 
					a.menu-company__href(href="#") Что с моим заказом? 
				li.menu-company__item 
					a.menu-company__href(href="#") Контакты
			.contacts-telephone
				a(href="tel:+74732959349" title="Связаться по телефону").phone-href.icon
					+icon("Phone")
					| 7 (473) 295-93-49
				a(href="tel:+79009597796" title="Связаться по телефону").phone-href.icon
					| 7 (900) 959-77-96
			.contacts-email
				a(href="mailto:info@invoice77.ru" title="Написать письмо").email-href.icon
					+icon("Mail")
					| Info@3d-favorit.ru
			.socials
				a(href="https://wa.me/79081361978" target="_blank" title="Связаться по 'whatsapp'").socialHref
					img(src="static/images/general/iconWhatsap.png", alt="Иконка")
				a(href="https://3d-favorit.ru/image/catalog/revolution/other/vk.png" target="_blank" title="Перейти на страницу 'В контакте'").socialHref
					img(src="static/images/general/iconVK.png", alt="Иконка")
				a(href="https://www.instagram.com/favorit3d/" target="_blank" title="Перейти на страницу 'Инстаграмм'").socialHref
					img(src="static/images/general/iconInsta.png", alt="Иконка")
				a(href="https://www.youtube.com/channel/UCovsd7mCCbHUKQLHATxvc7A" target="_blank" title="Перейти на канал 'YouTybe'").socialHref
					img(src="static/images/general/iconYouTybe.png", alt="Иконка")
			ul.menu-navigation
				li.menu-navigation__item
					a(href="#").menu-navigation__href
						+icon("Scales")
						span.text Сравнение
				li.menu-navigation__item
					a(href="#").menu-navigation__href
						+icon("Love")
						span.text Закладки
