extends layout/main

block variables
	-var title = 'Карточка товара'



block content
	// страница каталога
	include section/breadcrumb

	include section/section-card-product

	include section/youWatched
	include section/recommendedProduct
