extends layout/main

block variables
	-var title = 'Каталог'



block content
	// страница каталога
	include section/breadcrumb
	include section/section-catalog2
	include section/info-product
	include section/advantages
	include section/youWatched
	//- include section/recommendedProduct
