@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      // url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('invoice', '../fonts/invoice/invoice');
@include font-face('SegoeUIRegular', '../fonts/segoe/SegoeUIRegular/SegoeUIRegular', 'normal', 'normal');
@include font-face('SegoeUIBold', '../fonts/segoe/SegoeUIBold/SegoeUIBold', 'normal', 'normal');
@include font-face('SegoeUISemiBold', '../fonts/segoe/SegoeUISemiBold/SegoeUISemiBold', 'normal', 'normal');
