// Colors
// $white: #fff;
// $black: #2B2B2B;
// $accentColor: #2D524A;
// $lightGreen: #81C245;
// $backGray: rgba(123, 137, 163, 0.8);
// $backSection: #EDF1FA;
// $borderColor: #EDEDED;

// Colors

$basicDark: #222222; // основной темный
$dopDark: #606060; // дополнительный темный

$BasicLight: #fff; // основной светлый
$dopLight: #DCDCDC; // дополнительный светлый
$BasicBorderColor: #EDEDED; // цвет границ

$basicColored: #FFE419; // основной цветной
$dopColored: #F2F8F6; // дополнительный цветной
$dopColored2: #0FB0C8; // дополнительный цветной 2
$dopColored3: #D24243; // дополнительный цветной 3



// $BasicLight: #F7F7F7; // дополнительный светлый


// $basicColor: #5EB159; // основной цвет
// $basicColor: #5EB159; // основной цвет

$basicColorAccent: #5EB159; // основной цвет при эффекте
$basicColorAccentHover: #389133; // основной цвет при эффекте


$dopColor: blue; // дополнительный цвет
$dopColorAccent: rgb(23, 23, 160); // дополнительный цвет при эффекте






// Sizes
$base-font-size: 16px;


$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

$content: 1000px;

// Fonts

$mainFont: "Ubuntu";