.section-card-product{


	.wrap-tabs-description{
		margin: 50px 0 0 0;
	}

	.wrap-tabContent-description{
		margin: 25px 0 50px 0;
	}


	.tab-content{
		height: auto;
		.tab-pane {
			padding: 0px 0px;
		}
		img{
			float: right;
			margin-left: 15px;
			max-width: 50%;
			height: auto;
			@media screen and (max-width: $mobile) {
				float: none;
				margin-left: 0;
				margin: 15px auto;
				max-width: 100%;

			}
		}	
	} 

	.nav-tabs{
		border: none;
		.nav-item {
			margin-bottom: 5px;
		}		
		.nav-link {
			padding: 8px 20px;
			font-weight: 400;
			font-size: 16px;
			color: $basicDark;
			border: none;
			border-bottom: 1px solid $BasicBorderColor;
			transition: all 0.3s;
			&:hover{
				text-decoration: none;
				color: $basicColorAccent;
				border: none;
				border-bottom: $basicColorAccent solid 1px;

				transition: all 0.3s;
			}
			&.active{
				color: $basicColorAccent;
				border: none;
				border-bottom: $basicColorAccent solid 1px;
				&:hover{
					text-decoration: none;
					color: $basicColorAccent;
					transition: all 0.3s;
				}
			}
		}
	}


}


.wrap-sliders{
	width: 100%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@media screen and (max-width: $mobile) {
		height: auto;
		margin-bottom: 30px;

	}

}



.swiper-container-card-product-vertical{
	height: 100%;
	flex: 0 0 30%;
	img{
		max-width: 100%;
		height: 100%;
		object-fit: contain;
		margin: 0 auto;
		@media screen and (max-width: $mobile) {
			height: auto;
			margin: 15px auto;
		}
	}
	.swiper-slide{
		opacity: 0.6;
		transition: all 0.3s;
		&.swiper-slide-thumb-active{
			opacity: 1;
			transition: all 0.3s;
		}
	}
	
	@media screen and (max-width: $mobile) {
		flex: 0 0 100%;
	}	





}



.gallery-top.swiper-container-card-product-big{
	width: 200px;
	height: 100%;
	flex: 0 0 70%;

	img{
		max-width: 100%;
		height: 100%;
		object-fit: contain;
		margin: 0 auto;
	}

	.swiper-slide {
		padding: 15px;
	}
	@media screen and (max-width: $mobile) {
		flex: 0 0 100%;
	}	


}



.product-description{
	width: 100%;

	&__info{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.rating{
			@media screen and (max-width: 575px) {
				margin-bottom: 10px;
			}
		}
		@media screen and (max-width: 991px) {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		@media screen and (max-width: 575px) {
			align-items: flex-start;
		}
	}

	&__presence{
		font-size: 14px;
		font-weight: 400;
		padding: 4px 15px;
		color: $dopDark;
		line-height: 1;
		background-color: $dopColored;
		&_no{
			background-color: $dopLight;
		}
	}


	&__info-icons{
		display: flex;
		flex-wrap: wrap;
	}

	&__info-icon{
		position: relative;
		width: 30px;
		height: 30px;
		margin-right: 6px;
		span{
			position: absolute;
			z-index: 10;
			font-size: 10px;
			font-weight: 500;
			color: $BasicLight;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		.svg-sprite-icon{
			position: absolute;
			z-index: 5;
			width: 100%;
			height: 100%;
		}
		&.card-product-wrap__info-icon-basket-info-js{
			// display: none;
			opacity: 0;
			overflow: hidden;
			transition: 0.3s;
			&.active{
				display: block;
				opacity: 1;
				overflow: visible;
				transition: 0.3s;
			}
		}
		@media screen and (max-width: $mobile) {
			width: 24px;
			height: 24px;
		}
	}



	&__wrap-name{
		margin: 10px 0;
	}


	&__name{
		font-size: 36px;
		font-weight: 500;
		color: $basicDark;
		margin-bottom: 20px;
		@media screen and (max-width: $mobile) {
			font-size: 24px;

		}
		
	}

	&__quantity{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 575px) {

		}
	}

	&__wrap-price-text{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 575px) {
			margin-bottom: 10px;
			margin-right: 15px;
		}
	}

	&__text-price{
		font-weight: 500;
		font-size: 18px;
		color: #222222;
		margin: 0;
		&_thround{
			text-decoration: line-through;
			font-size: 16px;
		}
		&_sale{
			color: #5EB159;
			margin-left: 8px;
			font-size: 32px;
		}
	}

	.wrap-recount{
		margin-left: 12px;
		@media screen and (max-width: 575px) {
			margin: 10px 0;

		}	
	}


	&__info-buttons{
		margin-left: auto;
		@media screen and (max-width: 575px) {
			margin-left: 0;
		}
	}


	&__info-button{
		border: none;
		padding: 0;
		outline: none;
		background-color: transparent;
		margin-left: 5px;
		.svg-sprite-icon{
			opacity: 0.5;
			transition: 0.3s;
			width: 30px;
			height: 30px;
		}
		&:hover,
		&.active
		{
			cursor: pointer;
			.svg-sprite-icon{
				opacity: 1;
				fill: $basicColorAccent;
				transition: 0.3s;
			}	
		}
		
	}




	&__buttons{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 15px 0;
		padding: 10px 0 15px;
		border-bottom: 1px solid $BasicBorderColor;
		.button{
			padding: 5px 10px;
			@media screen and (max-width: $desktop) {
				min-width: 220px;
				margin-bottom: 18px;
			}	
		}

		@media screen and (max-width: $desktop) {
			flex-direction: column;
			align-items: center;
		}
		@media screen and (max-width: 991px) {
			flex-direction: row;
		}
		@media screen and (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-start;
		}



	}


	&__feature{

	}

	&__feature-text{
		display: flex;
		justify-content: space-between;
		color: $dopDark;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 400;
	}

	&__feature-dotted{
		flex: 1 0 10%;
		margin: 0 4px;
		border-bottom: dotted 2px $BasicBorderColor;
	}

	&__feature-param{
		color: $basicDark;

	}






}