.button{
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 164px;
	padding: 5px 5px;
	height: 42px;
	background-color: transparent;
	border: 1px solid $basicColorAccent;
	border-radius: 4px 500px 500px 4px;
	color: $basicColorAccent;
	transition: all 0.3s;
	.svg-sprite-icon{
		fill: $basicColorAccent;
		transition: all 0.3s;
	}

	&.button-from-title{
		display: inline-flex;
	}

	&:hover{
		background-color: $basicColorAccent;
		color: $BasicLight;
		cursor: pointer;
		text-decoration: none;
		transition: all 0.3s;	
		.svg-sprite-icon{
			fill: $BasicLight;
			transition: all 0.3s;
		}
	}


}



.search-input{
	width: 230px;
	font-size: 16px;
	color: #222222;
	border: none;
	border-bottom: solid 1px $dopDark;
	padding: 2px 26px 2px 1px;
	background-image: url(../images/general/Search.svg);
	background-repeat: no-repeat;
	background-position: center right 5px;
	background-size: 14px 14px;
	transition: all 0.3s;		
	&:focus{
		border-bottom: solid 1px $basicColorAccent;	
		transition: all 0.3s;		
	}
	@media screen and (max-width: $desktop) { 
		width: 160px;
	}

}






.button-delete{
	width: 26px;
	height: 26px;
	border: $basicColorAccent 1px solid;
	border-radius: 100%;
	position: relative;
	background-color: #fff;
	transition: 0.3s;

	&:before,
	&:after{
		content: "";
		position: absolute;
		z-index: 10;
		width: 2px;
		height: 16px;
		background-color: $basicDark;
		top: 4px;
		left: 11px;
		transition: 0.3s;
	}

	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);

	}	

	&:hover{
		background-color: #D24243;
		border: #D24243 1px solid;
		transition: 0.3s;
		&:before,
		&:after{
			background-color: $BasicLight;
			transition: 0.3s;
		}
	}
}