section.about-comp-tabs.section-padding
	.container
		.row
			.col-xl-12
				h2.section-title.title-dotted Об интернет-магазине
		.row.no-gutters.dekstop
			.col-md-4.col-xl-4
				.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
					a.nav-link(data-toggle='pill', href='#tab-1', role='tab', aria-controls='v-pills-one', aria-selected='false') Об интернет магазине
					a.nav-link.active(data-toggle='pill', href='#tab-2', role='tab', aria-controls='v-pills-one', aria-selected='true') Наш опыт в 3D печати
					a.nav-link(data-toggle='pill', href='#tab-3', role='tab', aria-controls='v-pills-one', aria-selected='true') Послепродажная поддержка и упрощенный возврат товара
					a.nav-link(data-toggle='pill', href='#tab-4', role='tab', aria-controls='v-pills-one', aria-selected='true') Качественное обслуживание клиентов
			.col-md-8.col-xl-8
				.tab-content
					#tab-1.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-one-tab')
						p Компания <span class="fw600">"Фаворит 3D"</span> существует и активно развивается уже более трех лет. За это время десятки компаний доверили нам свой бизнес. Если Вы зашли на наш сайт, значит у Вас есть интерес к 3D-технологиям, стремление к развитию и внедрению современных тенденций, а значит Вы любознательны, молоды и активны. Мы являемся официальным поставщиком 3D оборудования самых популярных брендов. На нашем сайте мы подобрали только самое лучшее оборудование и расходные материалы. У нас Вы получите предложение на любой Ваш запрос и под любую специфику (большой объем камеры построения, точность, скорость, универсальность...). <span class="fw600">И всегда по самым лучшим ценам!</span>
						p Все представленные у нас продукты выбираются по таким критериям как высокое качество, производительность, длительный срок службы, простота и легкость в установке и эксплуатации. Все товары представленные на нашем сайте (оборудование и расходные материалы), были нами протестированы и одобрены. Таким образом, мы предлагаем только те продукты, которые успешно прошли наши тесты, а их мы проводим много.
					#tab-2.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='v-pills-one-tab')
						p Мы обладаем достаточным количеством опыта, чтобы понять Ваши потребности и рекомендовать наиболее подходящее для Вас оборудование. Ежедневная практика и тестирование наших продуктов, способствует повышению опыта и знаний в сфере 3D-технологий. Наша команда увлечена своим делом и состоит из технически грамотных специалистов, которые с удовольствием предоставят ответы на любые Ваши вопросы. В разделе  Блог на нашем сайте, Вы можете найти наши обзоры и тесты, так что не забудьте подписаться на рассылку.
					#tab-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-one-tab')
						p У нас так же организована после-продажная поддержка и обслуживание наших клиентов. Мы всегда готовы оказать эффективную помощь по телефону или электронной почте по настройке оборудования или устранения проблем. Кроме этого, мы предоставляем гарантию возврата, денег в течении 14 дней с момента совершения покупки, если оборудование не удовлетворяет Ваши потребности.
						p <span class="fw600">Поддержка.</span> Поддержка: позвоните или отправьте письмо по E-mail, и наша служба поддержки ответит на Ваш запрос независимо от того на гарантии Ваше оборудование или нет. Скажите номер Вашего заказа и мы попытаемся решить Вашу проблему.
						p <span class="fw600">Возврат товара:</span>  не понравился товар? Изменили свое мнение? Мы вернем Вам деньги. Вам останется оплатить только транспортные расходы. Чтобы запросить возврат, обратитесь в службу поддержки.
					#tab-4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-one-tab')
						p Мы знаем, что 3D печать может вызвать множество различных вопросов. Поэтому мы готовы поддержать Вас на каждом вашем шаге в мире 3D-технологий. Наши сотрудники проходят обучение, для осуществления квалифицированной поддержки и консультации клиентов по любым вопросам, будь то помощь в выборе или покупке 3D оборудования, вопросам связанным с доставкой и оплатой товара или иному вопросу. Мы ответим на Ваш вопрос максимум в течение 24 часов.
						p <span class="fw600">Консультация.</span> Мы поможем Вам правильно подобрать именно то оборудование, которое наиболее точно подойдет под Ваши требования.
						p <span class="fw600">Поддержка.</span> Необходимо обработать запрос на поставку? Выставить счет на оплату или выслать дубликат документа? Мы готовы предоставить всю необходимую вам информацию, в кратчайшие сроки.
						p <span class="fw600">Оперативность.</span> Ответим на ваш звонок с понедельника по субботу по номеру <span class="fw600 whsp">+7 (473) 295 49 70</span> или ответим на письмо по электронной почте в течение 24 часов.

		noindex
			#accordion-about-comp.accordion
				.card
					.card-header
						button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#acord-tab-1', aria-expanded='false', aria-controls='collapseOne') Об интернет магазине
					#acord-tab-1.collapse(aria-labelledby='headingOne', data-parent='#accordion-about-comp', style='')
						.card-body
							p Компания <span class="fw600">"Фаворит 3D"</span> существует и активно развивается уже более трех лет. За это время десятки компаний доверили нам свой бизнес. Если Вы зашли на наш сайт, значит у Вас есть интерес к 3D-технологиям, стремление к развитию и внедрению современных тенденций, а значит Вы любознательны, молоды и активны. Мы являемся официальным поставщиком 3D оборудования самых популярных брендов. На нашем сайте мы подобрали только самое лучшее оборудование и расходные материалы. У нас Вы получите предложение на любой Ваш запрос и под любую специфику (большой объем камеры построения, точность, скорость, универсальность...). <span class="fw600">И всегда по самым лучшим ценам!</span>
							p Все представленные у нас продукты выбираются по таким критериям как высокое качество, производительность, длительный срок службы, простота и легкость в установке и эксплуатации. Все товары представленные на нашем сайте (оборудование и расходные материалы), были нами протестированы и одобрены. Таким образом, мы предлагаем только те продукты, которые успешно прошли наши тесты, а их мы проводим много.
				.card
					.card-header
						button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#acord-tab-2', aria-expanded='false', aria-controls='collapseOne') Наш опыт в 3D печати
					#acord-tab-2.collapse(aria-labelledby='headingOne', data-parent='#accordion-about-comp', style='')
						.card-body
							p Мы обладаем достаточным количеством опыта, чтобы понять Ваши потребности и рекомендовать наиболее подходящее для Вас оборудование. Ежедневная практика и тестирование наших продуктов, способствует повышению опыта и знаний в сфере 3D-технологий. Наша команда увлечена своим делом и состоит из технически грамотных специалистов, которые с удовольствием предоставят ответы на любые Ваши вопросы. В разделе  Блог на нашем сайте, Вы можете найти наши обзоры и тесты, так что не забудьте подписаться на рассылку.
				.card
					.card-header
						button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#acord-tab-3', aria-expanded='false', aria-controls='collapseOne') Послепродажная поддержка и упрощенный возврат товара
					#acord-tab-3.collapse(aria-labelledby='headingOne', data-parent='#accordion-about-comp', style='')
						.card-body
							p У нас так же организована после-продажная поддержка и обслуживание наших клиентов. Мы всегда готовы оказать эффективную помощь по телефону или электронной почте по настройке оборудования или устранения проблем. Кроме этого, мы предоставляем гарантию возврата, денег в течении 14 дней с момента совершения покупки, если оборудование не удовлетворяет Ваши потребности.
							p <span class="fw600">Поддержка.</span> Поддержка: позвоните или отправьте письмо по E-mail, и наша служба поддержки ответит на Ваш запрос независимо от того на гарантии Ваше оборудование или нет. Скажите номер Вашего заказа и мы попытаемся решить Вашу проблему.
							p <span class="fw600">Возврат товара:</span>  не понравился товар? Изменили свое мнение? Мы вернем Вам деньги. Вам останется оплатить только транспортные расходы. Чтобы запросить возврат, обратитесь в службу поддержки.
				.card
					.card-header
						button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#acord-tab-4', aria-expanded='false', aria-controls='collapseOne') Качественное обслуживание клиентов
					#acord-tab-4.collapse(aria-labelledby='headingOne', data-parent='#accordion-about-comp', style='')
						.card-body
							p Мы знаем, что 3D печать может вызвать множество различных вопросов. Поэтому мы готовы поддержать Вас на каждом вашем шаге в мире 3D-технологий. Наши сотрудники проходят обучение, для осуществления квалифицированной поддержки и консультации клиентов по любым вопросам, будь то помощь в выборе или покупке 3D оборудования, вопросам связанным с доставкой и оплатой товара или иному вопросу. Мы ответим на Ваш вопрос максимум в течение 24 часов.
							p <span class="fw600">Консультация.</span> Мы поможем Вам правильно подобрать именно то оборудование, которое наиболее точно подойдет под Ваши требования.
							p <span class="fw600">Поддержка.</span> Необходимо обработать запрос на поставку? Выставить счет на оплату или выслать дубликат документа? Мы готовы предоставить всю необходимую вам информацию, в кратчайшие сроки.
							p <span class="fw600">Оперативность.</span> Ответим на ваш звонок с понедельника по субботу по номеру <span class="fw600 whsp">+7 (473) 295 49 70</span> или ответим на письмо по электронной почте в течение 24 часов.

