section.advantages.section-padding
	.container
		.row
			.col-xl-12
				h2.section-title.title-dotted Почему купить 3D принтер лучше у нас:
		.row
			.col-xl-12.advantages__wrap-items
				.advantages__item-adv
					+icon("Adv1")
					p.advantages__item-text На все оборудование предоставляется гарантия производителя
				.advantages__item-adv
					+icon("Adv2")
					p.advantages__item-text Наши инженеры помогут настроить и подготовить 3D принтер к первому запуску
				.advantages__item-adv
					+icon("Adv3")
					p.advantages__item-text Бесплатная доставка оборудования до вашего города
				.advantages__item-adv
					+icon("Adv4")
					p.advantages__item-text Мы накопили богатый опыт и предлагаем услуги и сервис профессионального уровня
				.advantages__item-adv
					+icon("Adv5")
					p.advantages__item-text Решаем любые рабочие вопросы в интересах клиента
