section.info-product.section-padding
	.container
		.row
			.col-xl-6.col-lg-6.col-md-12
				h2.section-title Каталог персональных 3D принтеров
				p.info-product__text С каждым днем, настольный или персональный 3D принтер, находит себе все большее применение в повседневной жизни. С каждым новым месяцем спрос на 3D оборудование увеличивается, а цена на него падает, при этом каждая новая модель 3D принтера улучшается, быстрее печатает и с меньшими ограничениями объема печати. В Фаворит 3D представлен широкий модельный ряд 3D принтеров, от самых лучших и хорошо себя зарекомендовавших производителей.
			.col-xl-6.col-lg-6.col-md-12
				.info-product__wrap-img
					img(src="static/images/content/demoProduct.png", alt="изображение товара")
