section.main-blog.section-padding.section-button-margin-mobile(style='background-image:url(static/images/general/fon-main-product.jpg)')
	.container
		.row
			.col
				a.button.button-from-title(href="#") Читать все
		.row
			.col-xl-12
				h2.section-title.title-dotted Блог
		.row
			.col-xl-4.col-lg-6.col-md-6.main-blog-item
				.blog-item
					.blog-item__img-wrap
						img(src="static/images/content/main-blog/blog1.jpg", alt="")
					.blog-item__content
						a(href="").blog-item__title G-Code команды и руководство по использованию.
						p.blog-item__text Понимание команд G-code (g коды), является ключом к вашему 3D принтеру. Наша статья это своего рода учебник, который поможет быстро изучить g-coding. Статья включает в себе список основных команд и ..
						.blog-item__info
							p.blog-item__data 15.06.2020
							a(href="#").blog-item__href-article Подробнее...
			.col-xl-4.col-lg-6.col-md-6.main-blog-item
				.blog-item
					.blog-item__img-wrap
						img(src="static/images/content/main-blog/blog2.jpg", alt="")
					.blog-item__content
						a(href="").blog-item__title Сушка пластика: ABS, PLA, Nylon.
						p.blog-item__text Понимание команд G-code (g коды), является ключом к вашему 3D принтеру. Наша статья это своего рода учебник, который поможет быстро изучить g-coding. Статья включает в себе список основных команд и ..
						.blog-item__info
							p.blog-item__data 15.06.2020
							a(href="#").blog-item__href-article Подробнее...
			.col-xl-4.col-lg-6.col-md-6.main-blog-item
				.blog-item
					.blog-item__img-wrap
						img(src="static/images/content/main-blog/blog3.jpg", alt="")
					.blog-item__content
						a(href="").blog-item__title Постобработка в 3D печати. Полное руководство.
						p.blog-item__text Понимание команд G-code (g коды), является ключом к вашему 3D принтеру. Наша статья это своего рода учебник, который поможет быстро изучить g-coding. Статья включает в себе список основных команд и ..
						.blog-item__info
							p.blog-item__data 15.06.2020
							a(href="#").blog-item__href-article Подробнее...