section.main-catalog.section-padding
	.container-fluid
		.row
			.col-xl-4.col-lg-6.col-md-6
				.main-catalog__card.main-catalog__card_img-1
					.main-catalog__card-content
						h3.main-catalog__card-title 3D принтеры
						ul.main-catalog__card-wrap-text
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти
			.col-xl-4.col-lg-6.col-md-6
				.main-catalog__card.main-catalog__card_img-2
					.main-catalog__card-content
						h3.main-catalog__card-title 3D сканеры
						ul.main-catalog__card-wrap-text
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти



			.col-xl-4.col-lg-6.col-md-6
				.main-catalog__card.main-catalog__card_img-3
					.main-catalog__card-content
						h3.main-catalog__card-title Филамент
						ul.main-catalog__card-wrap-text
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные

			.col-xl-4.col-lg-6.col-md-6
				.main-catalog__card.main-catalog__card_img-4
					.main-catalog__card-content
						h3.main-catalog__card-title CAD / CAM
						ul.main-catalog__card-wrap-text
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные

			.col-xl-4.col-lg-6.col-md-6
				.main-catalog__card.main-catalog__card_img-5
					.main-catalog__card-content
						h3.main-catalog__card-title 3D Печать
						ul.main-catalog__card-wrap-text
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные

			.col-xl-4.col-lg-6.col-md-6
				.main-catalog__card.main-catalog__card_img-6
					.main-catalog__card-content
						h3.main-catalog__card-title Программное обеспечение
						ul.main-catalog__card-wrap-text
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
							li
								a(href="#").main-catalog__card-text - Дополнительное оборудование
							li
								a(href="#").main-catalog__card-text - Запчасти
							li
								a(href="#").main-catalog__card-text - Персональные
							li
								a(href="#").main-catalog__card-text - Профессиональные
							li
								a(href="#").main-catalog__card-text - Промышленные
