section.section-basket-product.section-padding-bottom
	.container
		.row
			.col-xl-12.wpap-table
				table.table-basket-product
					tbody
						tr.table-basket-product__head
							td.td-img
							td.td-name Товар
							td.td-quantity Количество
							td.td-price Цена
							td.td-total Итого
							td.td-button
						tr.table-basket-product__product.table-basket-product__product-js
							td.td-img
								img(src="static/images/content/imgProduct2.png", alt="3D принтер Creality Ender 3 (KIT набор)")
							td.td-name 3D принтер Creality Ender 3 (KIT набор)
							td
								.wrap-recount.wrap-recount-js.quantity-block-js
									button.wrap-recount__recount-minus.recount-minus-js.quantity-arrow-minus-js -
									input(type="number", value="1").wrap-recount__recount-input.recount-input-js.inputQuantity-js
									button.wrap-recount__recount-plus.recount-plus-js.quantity-arrow-plus-js +
							td
								p.product-description__text-price.product-description__text-price-base
									span(data-priceProduct="20500").number-space-js.price-product-js 20500
									span.rub &nbsp;
							td
								p.product-description__text-price.product-description__text-price-base
									span(data-priceProduct="20500").number-space-js.price-product-js 20500
									span.rub &nbsp;
							td
								button.button-delete
						tr.table-basket-product__product.table-basket-product__product-js
							td.td-img
								img(src="static/images/content/imgProduct3.png", alt="PLA GF пластик U3Print Blue Moon / Голубой (1 кг)")
							td.td-name PLA GF пластик U3Print Blue Moon / Голубой (1 кг)
							td
								.wrap-recount.wrap-recount-js.quantity-block-js
									button.wrap-recount__recount-minus.recount-minus-js.quantity-arrow-minus-js -
									input(type="number", value="1").wrap-recount__recount-input.recount-input-js.inputQuantity-js
									button.wrap-recount__recount-plus.recount-plus-js.quantity-arrow-plus-js +
							td
								p.product-description__text-price.product-description__text-price-base
									span(data-priceProduct="1100").number-space-js.price-product-js 1100
									span.rub &nbsp;
							td
								p.product-description__text-price.product-description__text-price-base
									span(data-priceProduct="1100").number-space-js.price-product-js 1100
									span.rub &nbsp;
							td
								button.button-delete
						tr.table-basket-product__footer.table-basket-product__footer-js
							td
							td
							td
							td
							td
								p.product-description__text-price.product-description__text-price-base
									span(data-priceProduct="21600").number-space-js.price-product-js 21600
									span.rub &nbsp;
							td
