section.top-slider
	.top-slider-swiper#top-slider-swiper
		.swiper-wrapper
			.swiper-slide(style='background-image:url(static/images/content/topSlider/topSlider1.jpg)', data-swiper-parallax='300')
				.container
					.left-cont
						h2.title-slider(data-swiper-parallax='500', data-swiper-parallax-opacity='0')  3D принтер Picaso DESIGNER X PRO
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Идеальное решение для предприятия.444
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Рабочий объем 200x200x210 мм.
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Всего за 299 000 рублей
					.right-cont(data-swiper-parallax='-250')
						.wrap-img-slider
							img(src="static/images/content/topSlider/imgTopSlider1.png", alt="изображение товара")

			.swiper-slide(style='background-image:url(static/images/content/topSlider/topSlider1.jpg)', data-swiper-parallax='300')
				.container
					.left-cont
						h2.title-slider(data-swiper-parallax='500', data-swiper-parallax-opacity='0') Picaso DESIGNER 3D принтер X PRO
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Идеальное решение для предприятия. 
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Рабочий объем 200x200x210 мм.
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Всего за 299 000 рублей
					.right-cont(data-swiper-parallax='-250')
						.wrap-img-slider
							img(src="static/images/content/topSlider/imgTopSlider2.png", alt="изображение товара")

			.swiper-slide(style='background-image:url(static/images/content/topSlider/topSlider1.jpg)', data-swiper-parallax='300')
				.container
					.left-cont
						h2.title-slider(data-swiper-parallax='500', data-swiper-parallax-opacity='0') DESIGNER X PRO 3D принтер Picaso 
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Идеальное решение для предприятия.
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Рабочий объем 200x200x210 мм.
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Всего за 299 000 рублей
					.right-cont(data-swiper-parallax='-250')
						.wrap-img-slider
							img(src="static/images/content/topSlider/imgTopSlider1.png", alt="изображение товара")

			.swiper-slide(style='background-image:url(static/images/content/topSlider/topSlider1.jpg)', data-swiper-parallax='300')
				.container
					.left-cont
						h2.title-slider(data-swiper-parallax='500', data-swiper-parallax-opacity='0') DESIGNER X PRO 3D принтер Picaso 
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Идеальное решение для предприятия.
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Рабочий объем 200x200x210 мм.
						p.subtitle-slider(data-swiper-parallax='-200')
							+icon("Sheck")
							| Всего за 299 000 рублей
					.right-cont(data-swiper-parallax='-250')
						.wrap-img-slider
							img(src="static/images/content/topSlider/imgTopSlider4.png", alt="изображение товара")


