section.youWatched.section-padding
	.container
		.row
			.col-xl-12
				h2.section-title.title-dotted Вы смотрели

		.row.row-wrap-card-little
			.col-xl-3.col-lg-6.col-md-12
				.given-section-wrap-card
					include ./card-product-1
			.col-xl-3.col-lg-6.col-md-12
				.given-section-wrap-card
					include ./card-product-1
			.col-xl-3.col-lg-6.col-md-12
				.given-section-wrap-card
					include ./card-product-2
			.col-xl-3.col-lg-6.col-md-12
				.given-section-wrap-card
					include ./card-product-3
