footer.footer-main
	.footer-top
		.container
			.row
				.col-xl-6.col-lg-6.col-md-9

					.row
						.col-xl-6.col-lg-6.col-md-6
							p.footer-main__descr Информация
							ul.footer-main__menu
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") О компании
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Доставка и оплата
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Гарантия и возврат
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Что с моим заказом?
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Контакты



						.col-xl-6.col-lg-6.col-md-6
							p.footer-main__descr Оборудование
							ul.footer-main__menu
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") 3D принтеры
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") 3D сканеры
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Аксессуары


					.row
						.col-xl-6.col-lg-6.col-md-6
							p.footer-main__descr Покупателям
							ul.footer-main__menu
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Политика конфиденциальности
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Отзывы о нас
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Блог

						.col-xl-6.col-lg-6.col-md-6
							p.footer-main__descr Расходные материалы
							ul.footer-main__menu
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") Фотополимеры
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") ABS пластик
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") PLA пластик
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") HIPS пластик
								li.footer-main__item-menu
									a.footer-main__ankor-menu(href="#") FLEX пластик

				.col-xl-6.col-lg-6.col-md-3
					.footer-main__wrap-social-text
						p.footer-main__social-text Мы в соц. сетях:
						.socials
							a(href="https://wa.me/79081361978" target="_blank" title="Связаться по 'whatsapp'").socialHref
								img(src="static/images/general/iconWhatsap.png", alt="Иконка")
							a(href="https://3d-favorit.ru/image/catalog/revolution/other/vk.png" target="_blank" title="Перейти на страницу 'В контакте'").socialHref
								img(src="static/images/general/iconVK.png", alt="Иконка")
							a(href="https://www.instagram.com/favorit3d/" target="_blank" title="Перейти на страницу 'Инстаграмм'").socialHref
								img(src="static/images/general/iconInsta.png", alt="Иконка")
							a(href="https://www.youtube.com/channel/UCovsd7mCCbHUKQLHATxvc7A" target="_blank" title="Перейти на канал 'YouTybe'").socialHref
								img(src="static/images/general/iconYouTybe.png", alt="Иконка")
						a.footer-main__ankor-menu.footer-main__ankor-menu-mobile(href="#") Политика конфиденциальности
	
					p.footer-main__text-about Компания "Фаворит 3D" существует и активно развивается уже более трех лет. За это время десятки компаний доверили нам свой бизнес. Если Вы зашли на наш сайт, значит у Вас есть интерес к 3D-технологиям, стремление к развитию и внедрению современных тенденций, а значит Вы любознательны, молоды и активны. Мы являемся официальным поставщиком 3D оборудования самых популярных брендов. На нашем сайте мы подобрали только самое лучшее оборудование и расходные материалы. У нас Вы получите предложение на любой Ваш запрос и под любую специфику (большой объем камеры построения, точность, скорость, универсальность... И всегда по самым лучшим ценам!











	.footer-bottom
		.container
			.row
				.footer-main__wrap-payment
					img(src="static/images/general/icon_visa.png", alt="Иконка")
					img(src="static/images/general/icon_master.png", alt="Иконка")
					img(src="static/images/general/icon_sber.png", alt="Иконка")
					img(src="static/images/general/icon_A.png", alt="Иконка")
					img(src="static/images/general/icon_Unit.png", alt="Иконка")


				.footer-main__text-copy Все права защищены ©"Фаворит 3D" 
					span.without-breaking 2015-2020
				<a href="https://intrid.ru/" target="_blank" class="made-intrid" title="Разработка сайтов в веб-студии Воронежа">made in INTRID</a>





// footer
